<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>project Vue JS</title>
    <link rel="stylesheet" href="css/style.css" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>
  <body>
    <div id="app">
      <div id="names" class="container" v-if="state">
        <div class="logo">
          <h1>Who can get Arisan</h1>
        </div>
        <div class="input-container">
          <input type="text" v-model.trin="inputName" />
          <button @click="addNameToList">Add</button>
        </div>
        <div class="error_label" v-if="showError">{{ error }}</div>
        <div class="list_of_names">
          <div v-for="(name, index) in names" :key="name" @click="removeName(index)">{{ name }}</div>
        </div>
        <div v-if="isReady">
          <div class="action_button">check the winner</div>
        </div>
      </div>

      <!-- <div id="result" class="container"></div> -->
    </div>
    <script src="script/app.js"></script>
  </body>
</html>
